html,body{
    margin: 0px;
    width: 100%;
    padding: 0px;
    overflow-x: hidden;
    /* #0a1930 main color
    font-family: 'Cinzel', serif
    */
    
}

.header{
    background-color: #000000;
    
}

.navtxt{

    font-family: 'Alumni Sans', sans-serif;
    color:#ffffff;
    font-size: 25px;
}

.nav-btn{
    border: none;
}

.ma-name{

   color : #ffffff;
   margin-left: 10px;
   font-family: 'Alumni Sans', sans-serif;
   
}


.fon-btn{
    background-color: #0a1930;
     
}

.btn-contact{
    background: #ffffff;
    font-size: 20px;
    border-radius: 8px;
    height: 40px;
    border: none;
    width: 145px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;

}

.homebg-img{

    height: 100%;
    background:#000000b3 url('images/logo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:darken ;
    background-attachment:fixed;
   

}

.s-section{
    background: #000000;
    
}
label{
    padding-right: 10px;
    font-size: 1rem;


}



.row-content{
    text-align: center;

}
.about-txt{
    text-align: center;
    font-family: 'Alumni Sans', sans-serif;
       
}

.about-img{
    width: 280px; 
    height: 280px;
    border-radius: 20px;
    border: 3px solid yellowgreen;
}

.text-contact{
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 18px;
    font-family: 'Alumni Sans', sans-serif;
}


.contact-color{
  background: #000000;
  
}
.footer-clr{
    background-color: #ffffff;
}
.input-space{
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
}

.input-style{

    display: block;
    width: 100%;
    padding: .375rem .75rem;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;


}
.input-style:hover{
    border: 1px solid #000000;
    
}


.section-service{

    height: 100%;
    background:#000000a4 url('images/service-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    background-blend-mode:darken ;

}
.service-txt-style{

    color: white;
    height: auto;
    text-align: center;
    font-size: 42px;
    width: auto;
    font-family: 'Alumni Sans', sans-serif;
   
}
.card-b{
   background-color: #000000;
   font-family:  sans-serif;
   color: #ffffff;
   border-top-right-radius:24px ;
   text-align: justify;
   border: none;
   box-shadow: 4px 4px 10px 2px #31004392;
   
}


.card-b:hover{

    transform: scale(1.1);
    transition: 0.5s;
    background-color: #ffffff;
    color: #000000;

}

.img-border{

    border-top-right-radius: 24px;
    border: none;

}


.offer{
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.arow-icon{
    padding-left: 80px;
    margin-top: -45px;
    

}
body{
    margin: 0;

}


.address-info{
    color: #ffffff;
   

}
