html,body{

    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: #101010;

    /* #0a1930 main color
    font-family: 'Cinzel', serif ;
    font-family: 'Alumni Sans', sans-serif;
    */
    
}

:root{
    --bg-color:#2a2a2a;
    --second-bg-color:#202020;
    --text-color:#fff;
    --main-color:#ff4d05;
}

.header{

    background: #00000000;
}


.header-style{
    background: #000000;
    
}


.navtxt{

    font-size: 20px;  
    font-weight: 500;
    
}


.nav-btn{
    border: none;
}

.my-name{

   color : #ffffff;
   margin-left: 8px;
   font-weight: 600;

}

.ma-name-link:hover{
    text-decoration: none;

}

span{

    color: #ff4d05;
}
.fon-btn{
    background-color: #0a1930;
     
}

.btn-contact{
    background: #ff4d05;
    color: #ffffff;
    font-size: 18px;
    border-radius: 24px;
    height: 40px;
    border: none;
    font-weight: 600;
    width: 145px;
    cursor: pointer;
    text-decoration: none;

}

.btn-contact:hover{
    background-color: transparent;
    border: 2px solid #ff4d05;
    text-decoration: none;
}


.homebg-img{

    height: 100%;
    background: #0000009a  url("images/mypicture.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:darken ;
  

}

.s-section{
    background-color: #191919;
    
}
label{
    padding-right: 10px;
    font-size: 1rem;


}



.row-content{
    text-align: center;
}

.about-txt{
    text-align: center;
    font-weight: 600;
    font-size: 2.2rem;

       
}

.about-img{
    width: 290px; 
    height: 360px;
    border-radius: 8px;

}


.btn-knowmore{

    background-color: #ff4d05;
    width: 145px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    border-radius: 24px;
    height: 45px;
    border: none;
}


.btn-knowmore:hover{
    background-color: transparent;
    border: 2px solid #ff4d05;
    text-decoration: none;

}

.text-contact{

    color: #ffffff;
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
   
}

/* .offering{
    background-color: #191919;
    font-family: 'Cinzel', serif ;
    font-style: italic;
    height: auto;
}
*/



.contact-color{
  background-color: #101010;
  
}

.footer-clr{
    background-color: #000000;
    color: #ffffff;
    font-weight: 400;
}


.submit-btn{

    background-color: #ff4d05;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
}

.input-style{

    display: block;
    width: 100%;
    padding: .375rem .75rem;
    color: #ffffff;
    background-color: #202020;
    border: 1px solid #202020;
    border-radius: 8px;


}
.input-style:hover{
    border: 1px solid #000000;
    
}


.section-service{

    height: 100%;
    background:#000000b4 url('images/service-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:darken ;

}
.service-txt-style{

    color: white;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    height: auto;


   /* font-family: 'Alumni Sans', sans-serif; */
   
}
.card-b{
   background-color: #000000;
   color: #ffffff;
   border-top-right-radius:24px ;
   text-align: justify;
   border: none;
   transform: scale(.9);
   box-shadow: 4px 4px 10px 2px #85260052;
   
}


.card-b:hover{

    transform: scale(1);
    transition: 0.5s;
    background-color: #ffffff;
    color: #000000;

}

.img-border{

    border-top-right-radius: 24px;
    border: none;

}


.offer{
    text-align: center;
    color: white;
   
}
.arow-icon{
    padding-left: 80px;
    margin-top: -45px;
    

}


.address-info{
    color: #ffffff;
   

}
.footer-list li{

    color: #ffffff;
    text-decoration: none;
    font-weight: 500; 
    padding-bottom:5px ;

}
.footer-list li:hover{
    text-decoration: none;
}
.final-section{
    padding-top: 4rem;
    margin-top: 2rem;
    background: #090909;


}